{% extends 'base.html' %}
{% block content %}
<div style="margin: 2rem 10%;">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<div class="media mt-5" >
		<img class="mr-3 img-thumbnail" src="{{ request.user.foto.url }}" style="height: 200px; width: auto">
		<div class="media-body">
			<h1 class="display-4">Olá, {{ request.user.acolhido.nome }}</h1>
			<p class="h4">{{ request.user.acolhido.descricao }}</p>
		</div>
	</div>

	<div class="mt-5">
		<a role="button" class="h2 dropdown-toggle" data-toggle="collapse" data-target="#collapse_aprovado">Locais aprovados</a>
		
		<div class="card list-group collapse" id="collapse_aprovado">
		{% if local_aprovado %}
		{% for local in local_aprovado %}
			<div class="media mb-4">
				<img class="mr-3" src="{{ local.foto.url }}" style="height: 200px; width: auto">
				<div class="media-body mt-1">
					<div class="card-title">
						<p><strong>Nome do Anfitrião:</strong> {{ local.anfitriao.nome }}</p>
						<p><strong>Contato do Anfitrião:</strong> {{ local.anfitriao.contato }}</p>
					</div>
					
					<div class="card-body py-0">
						<p><strong>Cidade:</strong> {{ local.cidade }}</p>
						<p><strong>Bairro:</strong> {{ local.bairro }}</p>
						<p><strong>Enrereço:</strong> {{ local.rua }} - {{ local.numero }}</p>
						<p><strong>Quantidade de vagas:</strong> {{ local.vagas }}</p>
						<a class="btn btn-danger" href='../local/{{ local.id }}/cancelar'>Desistir do local</a>
					</div>
				</div>
			</div>
		{% endfor %}
		{% endif %}
		{% if not local_aprovado %}
				<p class="alert alert-danger">Nenhuma solicitação foi aprovada ainda</p>
		{% endif %}
		</div>
	</div>

	<div class="mt-5">
		<a role="button" class="h2 dropdown-toggle" data-toggle="collapse" data-target="#collapse_solicitado">Locais solicitados</a>
		
		<div class="card list-group drop collapse" id="collapse_solicitado">
		{% if local_solicitado %}
		{% for local in local_solicitado %}
			<div class="media mb-4">
				<img class="mr-3" src="{{ local.foto.url }}" style="height: 200px; width: auto">
				<div class="media-body mt-1">
					<div class="card-title">
						<p><strong>Nome do Anfitrião:</strong> {{ local.anfitriao.nome }}</p>
						<p><strong>Contato do Anfitrião:</strong> {{ local.anfitriao.contato }}</p>
					</div>
					
					<div class="card-body py-0">
						<p><strong>Cidade:</strong> {{ local.cidade }}</p>
						<p><strong>Bairro:</strong> {{ local.bairro }}</p>
						<p><strong>Enrereço:</strong> {{ local.rua }} - {{ local.numero }}</p>
						<p><strong>Quantidade de vagas:</strong> {{ local.vagas }}</p>
						<a class="btn btn-danger" href='../local/{{ local.id }}/cancelar'>Cancelar solicitação</a>
					</div>
				</div>
			</div>
		{% endfor %}
		{% endif %}
		{% if not local_solicitado %}
			<p class="alert alert-danger">Não foi feita nenhuma solicitação</p>
		{% endif %}
		</div>
	</div>

	<div class="mt-5">
		<div class="row">
			<h2 class="col-5">Locais disponívies</h2>
            <form method="get" class="col-7 row">
				<input class="form-control col-8" placeholder="Digite a cidade que deseja" name="search">
				<input type="submit" value="Pesquisar" class="btn btn-info col-4">
			</form>
			
        </div>
	
		{% if not local_disponivel %}	
			<p class="h5 alert alert-danger">No momento não há lugares disponíveis</p>
		{% endif %}

		<div class="card list-group">
		{% for local in local_disponivel %}
			<div class="media mb-4">
				<img class="mr-3" src="{{ local.foto.url }}" style="height: 200px; width: auto">
				<div class="media-body mt-1">
					<p><strong>Cidade:</strong> {{ local.cidade }}</p>
					<p><strong>Bairro:</strong> {{ local.bairro }}</p>
					<p><strong>Enrereço:</strong> {{ local.rua }} - {{ local.numero }}</p>
					<p><strong>Quantidade de vagas:</strong> {{ local.vagas }}</p>
					<p><strong>Descrição:</strong> {{ local.descricao|truncatechars:100 }}</p>

					<a class="btn btn-primary" href='../local/{{ local.id }}/solicitar'>Solicitar local</a>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>
</div>
{% endblock %}