{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css'%}"/>
	<div class="media ultimos" style="padding: 2rem 10%;">
		<img class="mr-3 img-thumbnail" src="{{ request.user.foto.url }}" style="height: 200px; width: auto">
		<div class="media-body">
		    <h1 class="display-4">Olá, {{ request.user.anfitriao.nome }}</h1>
			<a href="{% url 'anfitriao:cadastrar_local' %}" class="btn btn-info px-2 my-4" role="button" style="margin-left:20px;">Adicionar um novo <strong>local</strong></a>
		</div>
	</div>

	<div class="mt-5" style="padding: 0rem 10%;">
		<a role="button" class="h2 dropdown-toggle" data-toggle="collapse" data-target="#collapse_aprovado">Locais aprovados</a>

		<div class="card list-group collapse" id="collapse_aprovado">
		{% if local_aprovado %}
		{% for local in local_aprovado %}
			<div class="media mb-4">
				<img class="mr-3" src="{{ local.foto.url }}" style="height: 200px; width: auto">
				<div class="media-body mt-1">
					<p class="card-title"><strong>Cidade:</strong> {{ local.cidade }}</p>
					<p><strong>Bairro:</strong> {{ local.bairro }}</p>
					<p><strong>Enrereço:</strong> {{ local.rua }} - {{ local.numero }}</p>
					<p><strong>Status:</strong> {{ local.status }}</p>
					<p><strong>Descrição:</strong> {{ local.descricao|truncatechars:100 }}</p>

					<div class="card-body py-0 media">
						<img class="mr-3 rounded" src="{{ local.acolhido.user.foto.url }}" style="height: 200px; width: auto">
						<div class="media-body">
							<p><strong>Nome do ocupante:</strong> {{ local.acolhido.nome }}</p>
							<p><strong>Contato do ocupante:</strong> {{ local.acolhido.contato }}</p>
							<p><strong>Descrição:</strong>{{ local.acolhido.descricao }}</p>
							<a class="btn btn-danger" href='../local/{{ local.id }}/disponivel'>Cancelar aprovação</a>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
		{% endif %}
		{% if not local_aprovado %}
			<p class="alert alert-danger">Nenhuma solicitação foi aprovada</p>
		{% endif %}
		</div>

	</div>

	<div class="mt-5" style="padding: 0rem 10%;">
		<a role="button" class="h2 dropdown-toggle" data-toggle="collapse" data-target="#collapse_solicitado">Locais solicitados</a>

		<div class="card list-group collapse" id="collapse_solicitado">
		{% if local_solicitado %}
		{% for local in local_solicitado %}
			<div class="media mb-4">
				<img class="mr-3" src="{{ local.foto.url }}" style="height: 200px; width: auto">
				<div class="media-body mt-1">
					<p class="card-title"><strong>Cidade:</strong> {{ local.cidade }}</p>
					<p><strong>Bairro:</strong> {{ local.bairro }}</p>
					<p><strong>Enrereço:</strong> {{ local.rua }} - {{ local.numero }}</p>
					<p><strong>Status:</strong> {{ local.status }}</p>
					<p><strong>Descrição:</strong> {{ local.descricao|truncatechars:100 }}</p>

					<div class="card-body py-0 media">
						<img class="mr-3 rounded" src="{{ local.acolhido.user.foto.url }}" style="height: 200px; width: auto">
						<div class="media-body">
							<p><strong>Nome do solicitante:</strong> {{ local.acolhido.nome }}</p>
							<p><strong>Contato do solicitante:</strong> {{ local.acolhido.contato }}</p>
							<p><strong>Descrição:</strong>{{ local.acolhido.descricao }}</p>
							<a class="btn btn-success" href='../local/{{ local.id }}/aprovar'>Aprovar solicitação</a>
							<a class="btn btn-danger" href='../local/{{ local.id }}/disponivel'>Cancelar solicitação</a>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
		{% endif %}
		{% if not local_solicitado %}
			<p class="alert alert-danger">Não foi feita nenhuma solicitação</p>
		{% endif %}
		</div>

	</div>

	<div class="mt-5" style="padding: 0rem 10% 3rem 10%;">
		<h2>Locais disponívies</h2>

		{% if not local_disponivel %}	
			<h4>No momento não há lugares disponíveis cadastrados</h4>
		{% endif %}

		<div class="card">
		{% for local in local_disponivel %}
			<div class="media my-1">
				<img class="mr-3" src="{{ local.foto.url }}" style="height: 200px; width: auto">
				<div class="media-body mt-3">
					<p><strong>Cidade:</strong> {{ local.cidade }}</p>
					<p><strong>Bairro:</strong> {{ local.bairro }}</p>
					<p><strong>Enrereço:</strong> {{ local.rua }} - {{ local.numero }}</p>
					<p><strong>Descrição:</strong> {{ local.descricao|truncatechars:100 }}</p>
					<a class="btn btn-info" href="{% url 'anfitriao:anfitriao_detalhes_view' id=local.id %}"><span class=" glyphicon glyphicon-pencil">Detalhes</span></a>
					<a class="btn btn-danger" href="{% url 'anfitriao:remover_view' pk=local.pk %}"><span class="glyphicon glyphicon-remove">Remover</span></a>
					<a class="btn btn-light" href="{% url 'anfitriao:add_comment_to_local_anfitriao' pk=local.pk %}"><span>Comments: {{ local.comments.count }}</span></a>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}

