{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<div class="media my-1">
        <img class="mr-3" src="{{ local.foto.url }}" style="height: 200px; width: auto">
        <div class="media-body mt-3">
            <h1><strong>Cidade:</strong> {{ local.cidade }}</h1>
            <h3><strong>Bairro:</strong> {{ local.bairro }}</h3>
            <h3><strong>Enrereço:</strong> {{ local.rua }} - {{ local.numero }}</h3>
            <p><strong>Descrição:</strong> {{ local.descricao|linebreaksbr}}</p>
            <div class="date">
                {{ local.publicado_date }}
            </div>
            <a class="btn btn-success" href="{% url 'anfitriao:home_anfitriao' %}"><span class=" glyphicon glyphicon-ok "></span></a>
            <a class="btn btn-info" href="{% url 'anfitriao:editar_view' pk=local.pk %}"><span class=" glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-danger" href="{% url 'anfitriao:remover_view' pk=local.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
            <a class="btn btn-info" href="{% url 'anfitriao:add_comment_to_local_anfitriao' pk=local.pk %}"><span class="glyphicon glyphicon-comment"></span></a>
        </div>
</div>
<hr>
{% for comment in local.comments.all %}
<div class="comment">
    <div class="date">{{ comment.created_date }}</div>
    <strong>{{ comment.author }}</strong>
    <p>{{ comment.text|linebreaks }}</p>
</div>
{% empty %}
<p>No comments here yet :(</p>
{% endfor %}
{% endblock %}