{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}"/>
{% if not user.is_authenticated %}
<div class="inicio pt-5">
        <div class="col card-deck">
            <div class="row mx-auto">
                <div class="card text-center bg-warning mx-auto" style="width: 20rem;">
                    <img class="card-img-top" src="{% static 'img/acolhido.png' %}" alt="Imagem de capa do card"  width="400" height="200">
                    <div class="card-body">
                        <h5 class="card-title">Seja um acolhido</h5>
                        <p class="card-text">Estou precisando de um lugar para ficar</p>
                        <a href="{% url 'acolhido:cadastrar_acolhido' %}" class="btn btn-dark btn-block" role="button">Receber ajuda</a>
                    </div>
                </div>
                <div class="card text-center bg-warning mx-auto" style="width: 20rem;">
                    <img class="card-img-top" src="{% static 'img/anfitriao.jpg' %}" alt="Imagem de capa do card"  width="400" height="200">
                    <div class="card-body">
                        <h5 class="card-title">Seja um anfitrião</h5>
                        <p class="card-text">Quero ajudar pessoas e oferecer acolhimento. </p>
                        <a href="{% url 'anfitriao:cadastrar_anfitriao' %}" class="btn btn-dark  btn-block" role="button">Ofereça ajuda</a>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endif %}
<div style="margin-top:20px"><h1>Ultimos locais</h1></div>
<div class="col card-body">
    <div class="row mx-auto">
        <div class="card text-center bg-light mx-auto" style="width: 20rem;">
        {% for local in local_disponivel %}
            <div class="card-body">
                <h5 class="card-title"><strong>{{ local.cidade }}</strong></h5>
                <p class="card-text"><p><strong>Descrição:</strong> {{ local.descricao|truncatechars:100 }}</p></p>

                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"> <p><strong>Bairro:</strong> {{ local.bairro }}</p></li>
                        <li class="list-group-item"><p><strong>Enrereço:</strong> {{ local.rua }} - {{ local.numero }}</p></li>
                        <li class="list-group-item"></li><p><strong>Status:</strong> {{ local.status }}</p></li>
                    </ul>
                </div>
                <a href="{% url 'acolhido:cadastrar_acolhido' %}" class="btn btn-dark mx-2" role="button">Receber ajuda</a>
            </div>
            <div class="card-footer">
                <small style="color:black">Atualizados {{ local.publicado_date }} </small>
            </div>
        {% endfor %}
        </div>
        {% if not local_disponivel %}
            <p class="h5 alert-danger">Não há lugares disponíveis. Aguarde por publicações ou ajude alguém em 
                <a href="{% url 'anfitriao:cadastrar_anfitriao' %}"></a>
            </p>
        {% endif %}
    </div>
</div>
<small class="text-muted"><p>Encontre um lugar para se instalar</p></small>
<p class="lead">
    Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
</p>

<blockquote class="blockquote">
    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
</blockquote>
{% endblock %}