{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}"/>
{% if not user.is_authenticated %}
<div class="inicio pt-5">
        <div class="col card-deck">
            <div class="row mx-auto">
                <div class="card text-center bg-warning mx-auto" style="width: 20rem;">
                    <img class="card-img-top" src="{% static 'img/acolhido.png' %}" alt="Imagem de capa do card"  width="400" height="200">
                    <div class="card-body">
                        <h5 class="card-title">Seja um acolhido</h5>
                        <p class="card-text">Estou precisando de um lugar para ficar</p>
                        <a href="{% url 'acolhido:cadastrar_acolhido' %}" class="btn btn-dark btn-block" role="button">Receber ajuda</a>
                    </div>
                </div>
                <div class="card text-center bg-warning mx-auto" style="width: 20rem;">
                    <img class="card-img-top" src="{% static 'img/anfitriao.jpg' %}" alt="Imagem de capa do card"  width="400" height="200">
                    <div class="card-body">
                        <h5 class="card-title">Seja um anfitrião</h5>
                        <p class="card-text">Quero ajudar pessoas e oferecer acolhimento. </p>
                        <a href="{% url 'anfitriao:cadastrar_anfitriao' %}" class="btn btn-dark  btn-block" role="button">Ofereça ajuda</a>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endif %}

<div class="ultimos h-90">
    <h1>Ultimos locais </h1> 
    <div class="row mx-auto">
    
    {% for local in local_disponivel %}

    <div class="col-4" style="color:white;">
        <div class="card text-center bg-dark mx-auto" style="width: 20rem;">
            <h5 style="padding:17px;" class="card-title"><strong>{{ local.cidade }}</strong></h5>
                <ul class="list-group list-group-flush">
                    <p class="card-text text-left" style=" border: 1px solid rgb(165, 165, 165);"><p><strong>Descrição:</strong> {{ local.descricao|truncatechars:100 }}</p></p></p>
                    <p class="text-left"> <p><strong>Bairro:</strong> {{ local.bairro }}</p></p>
                    <p class="text-left"><p><strong>Enrereço:</strong> {{ local.rua }} - {{ local.numero }}</p></p>
                    <p class="text-left""><p><strong>Status:</strong> {{ local.status }}</p></p>
                </ul>
            <div class="card-footer">
            <small style="color:white">Atualizados {{ local.publicado_date }} </small>
            </div>
        </div>
    </div>
    {% endfor %}
      
            {% if not local_disponivel %}
                <p class="h5 alert alert-dark" style="">Não há lugares disponíveis. Aguarde por publicações ou ajude alguém  
                    <a href="{% url 'anfitriao:cadastrar_anfitriao' %}">se cadastrando aqui</a>
                </p>
            {% endif %}
    </div>
</div>

{% endblock %}