{% load static %}
<html>
    <head>
        <title>{% block title %}Acolhe{% endblock %}</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        {% if user.is_authenticated and user.is_teacher %}
            <link rel="stylesheet" href="{% static 'css/anfitriao.css' %}">
        {% else %}
            <link rel="stylesheet" href="{% static 'css/acolhido.css' %}">
        {% endif %}
    </head>
    <body>
        <div>
            <div>
                {% if user.is_authenticated %}
                    <p>Logged in as <strong>{{ user.username }}</strong>
                    <form class='logout-link' action={% url 'logout' %} method='post'>
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-light" role="button">Log in</a>
                    <a href="{% url 'cadastrar_acolhido' %}" class="btn btn-primary" role="button">Sign up</a>
                {% endif %}
                <h1> This is a test base </h1>
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>