{% load static %}
<html>
    <head>
        <title>{% block title %}Acolhe{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        {% if user.is_authenticated and user.is_teacher %}
            <link rel="stylesheet" href="{% static 'css/anfitriao.css' %}">
        {% else %}
            <link rel="stylesheet" href="{% static 'css/acolhido.css' %}">
        {% endif %}
    </head>
    <body>
        {% include 'navbar.html' %}
        
        <div class="mt-5 mx-5">
            {% block content  %}
                <h1> AGUARDANDO CONTEÚDO </h1>
            {% endblock %}
        </div>

    </body>
</html>