<nav class="navbar navbar-light bg-light px-5">
    <a class="navbar-brand" href="{% url 'home' %}">Acolhe</a>

    {% if user.is_authenticated %}
        <div class="d-flex form-inline">
            <p class="mr-auto p-2">Logado como <strong>{{ user.username }}</strong>
            <form class='p-2' action={% url 'logout' %} method='post'>
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Logout</button>
            </form>
        </div>
    {% else %}
        <div class="d-flex form-inline">
            <a href="{% url 'login' %}" class="btn btn-light mr-auto px-4 " role="button">Fazer login</a>
            <a href="{% url 'acolhido:cadastrar_acolhido' %}" class="btn btn-primary mx-2" role="button">Receber ajuda</a>
            <a href="{% url 'anfitriao:cadastrar_anfitriao' %}" class="btn btn-primary mx-2" role="button">Ofereça ajuda</a>
        </div>
    {% endif %}
</nav>